.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav>a {
    margin: 0 20px;
}

h1 {
    margin: 20px 5px 40px 5px;
}

#heli_number {
    width: 100px;
    font-size: 20px;
    text-align: center;
    padding: 8px;
}

#heli_number::placeholder {
    font-size: 13px;
    text-align: center;
    color: #999;
}

.flight-details {
    display: flex;
    margin: 0 0 2em 0;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#flight_time {
    text-align: center;
    width: 100px;
    font-size: 20px;
}

#flight_time::placeholder {
    font-size: 13px;
}

#pilot_name {
    text-align: center;
    width: 160px;
    font-size: 20px;
}

#pilot_name::placeholder {
    font-size: 13px;
    text-align: center;
    color: #999;

}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

#add_missile_btn {
    width: 10em;
    margin: 10px 0;
}

#missile_number {
    max-width: 90px;
}

input,
select {
    margin: 2px;
    height: 40px;
}

#save_btn {
    margin: 50px 5px 5px 5px;
    width: 10em;
    height: 3em;
    font-size: 20px;
}

.data-number {
    max-width: 120px;
}

.btn-primary,
.remove-btn,
.form-select:not(.gatr-select) {
    font-size: 14px;
    width: 8em;
    margin: 8px 5px;
}

.ew-row {
    width: auto;
}

#ew-quantity-input,
#cartridge_input {
    width: 90px;
}

#notes {
    width: 400px;
    height: 100px;
}

textarea {
    resize: none;
}

.share-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

#whatsapp-container,
#telegram-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 150px;
    font-size: 12px;
    margin: 10px 10px;
    cursor: pointer;
}

#clear_btn,
#clear_memory_btn {
    margin: 20px;
}